.flip-clock {
    --fcc-flip-duration: 0.5s;

    --fcc-digit-block-width: 20px;

    --fcc-digit-block-height: 40px;

    --fcc-digit-font-size: 25px;

    --fcc-digit-color: yellow;

    --fcc-label-font-size: 10px;

    --fcc-label-color: #ffffff;

    --fcc-background: blue;

    --fcc-divider-color: white;

    --fcc-divider-height: 1px;

    --fcc-separator-size: 6px;

    --fcc-separator-color: #333333;

    margin-top: 50px;
    margin-right: 20px;
}